.thumb{
    width: 90px;
    height: 123px;
    cursor: pointer;
}
.names{
    font-size: 12px !important;
}
body {
    /* background-image: url("../images/background.jpg"); */
    /* background-color: #000000e0; */
    color: aliceblue;
}

.searchbar {
    background: #000000d6;
    width: 40%;
    height: 45px;;
    color: white;
    margin-left: 1.6%;
    margin-top: 1%;
    border: none;
}

.searchbar:focus {
    outline: none;
}

.box-div {
    padding-bottom: 5%;
}

.big-image {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/background.jpg");
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 0;
}

.thumbs {
    position: absolute;
    z-index: 1;
}