.thumb{
    width: 90px;
    height: 123px;
    cursor: pointer;
}
.names{
    font-size: 12px !important;
}
body {
    background-position: center; 
    /* background-image: url("../images/background.jpg"); */
    /* background-color: #000000e0; */
    color: aliceblue;
}

.searchbar {
    background: #000000d6;
    width: 40%;
    height: 45px;;
    color: white;
    margin-left: 1.6%;
    margin-top: 1%;
    border: none;
}

.searchbar:focus {
    outline: none;
}

.box-div {
    padding-bottom: 5%;
}